appdirs==1.4.4
build==1.3.0
buildozer==1.5.0
certifi==2025.8.3
charset-normalizer==3.4.2
colorama==0.4.6
Cython==0.29.36
distlib==0.4.0
docutils==0.22
filelock==3.18.0
filetype==1.2.0
idna==3.10
Jinja2==3.1.6
Kivy==2.3.1
Kivy-examples==2.3.1
Kivy-Garden==0.1.5
MarkupSafe==3.0.2
packaging==25.0
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.8
ptyprocess==0.7.0
Pygments==2.19.2
pyjnius @ https://github.com/kivy/pyjnius/archive/master.zip#sha256=595f587a12c359c652967e82cec73af30e0213aba1c199d217d51257aa3c9c0b
pyproject_hooks==1.2.0
requests==2.32.4
sh==1.14.3
toml==0.10.2
urllib3==2.5.0
virtualenv==20.33.1
